<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="importers"
         point="org.eclipse.jdt.ls.core.importers">
      <importer
            id="bazelAqueryProjectImporter"
            order="150"
            class="ch.audienzz.bazel.jdtls.BazelProjectImporter"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            id="ch.audienzz.bazel.jdtls.BAZEL_CONTAINER"
            class="ch.audienzz.bazel.jdtls.BazelClasspathContainerInitializer"/>
   </extension>
   <extension
         point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="ch.audienzz.bazel.jdtls.BazelCommandHandler">
         <command id="bazel.refreshClasspath"/>
         <command id="bazel.showImportReport"/>
         <command id="bazel.buildClasspath"/>
         <command id="bazel.importFile"/>
         <command id="bazel.status"/>
         <command id="bazel.buildFilesChanged"/>
      </delegateCommandHandler>
   </extension>
</plugin>
